#navbar {
	overflow: hidden;
	background-color: #1c1c1c;
	position: sticky;
	top: 0;
	width: 26%;
	border-radius: 10px;
	margin: auto;
	max-width: 484px;
}

#navbar a {
	float: left;
	display: block;
	font-family:montserrat; 
	color:#f2f2f2; 
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 10px;
}

#navbar a:hover {
	background-color: #a8a8a8;
	color: #000000;
}