:root {
	font-size: 16px;
	font-family: montserrat;
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #1A2034;
	--bg-secondary: #152D58;
}

@font-face {
	font-family: montserrat;
	src: ./fonts/montserrat-regular.ttf;
}

@font-face {
	font-family: montserrat;
	src: ./fonts/montserrat-bold.ttf;
	font-weight: bold;
}	

body {
	background-color: #1A2034;
	margin: 0;
	padding: 0;
}

.format {
	font-family: montserrat; 
	color: #ffffff; 
	text-align: center;
}

.format a:link {
	color: #1155cc; 
	background-color: transparent; 
	text-decoration: none;
}

.format a:visited {
	color: #1155cc; 
	background-color: transparent; 
	text-decoration: none;
}

.format a:hover {
	color: #1155cc; 
	background-color: transparent; 
	text-decoration: underline;
}

.format a:active {
	color: #ffffff; 
	background-color: transparent; 
	text-decoration: underline;
}

.format img {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

body::-webkit-scrollbar {
	width: 0.45rem;
	border-radius: 20px;
}

body::-webkit-scrollbar-track {
	background: #1A2034;
	border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
	background: #3d3d3d;
	border-radius: 10px;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	border-radius: 10px;
	justify-content: center;
	justify-content: space-evenly;
	align-items: center;
}

.column {
	flex: 1;
	max-width: 25%;
	padding: 0 4px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

div.imagedesc {
	padding: 15px;
	text-align: center;
	font-family: montserrat;
}

hr.rounded {
	border-top: 8px solid #484D5D;
	border-radius: 5px;
}